/*  sid - 08-03-2017 */
body {
  background-image: url("../../assets/img/fabric_f9f9f9.png");
  background-color: #f9f9f9;
  font-size: 16px; font-family: sans-serif; margin: 0; padding: 0;
}


h1 { margin: 0px 0px 1em 0px; color: #076d6f; font-size: 1.7em; }
h3 {
    margin: 0px 0px 1.5em 0px; color: #339999;
    font-size: 1.1em; font-weight: normal; 
    letter-spacing: 2px; text-transform: uppercase; }
a { color: #00a2ff; text-decoration: none; }


header {
 height: 275px;
 background: url("../../assets/img/banner.png") no-repeat center;
 background-size: cover; margin-bottom: 50px; position: relative;
}
header a.logo {
   position: absolute; display: block;
   width: 154px; height: 57px;
   background: url("../../assets/img/logo.png") no-repeat 0 0;
   background-size: contain; z-index: 1;
   top: 30px; left: 35px;
   }
header a.logo span { display: none; }


nav {
    background-color: rgba(0,0,0,.4);    position: relative;
    padding: 80px 0px 0px 200px; }


/* menu */    
nav ul { list-style: none; margin: 0; padding: 0; }
nav > ul > li { float: left; }

nav ul::after { content:''; display: block; clear: both;}
nav ul li:hover { background-color: rgba(127,164,188,.8); }
nav ul li:hover > ul { display: block; }

nav ul li a {
        display: inline-block; color: #fff;
        padding: 10px 20px; text-decoration: none;
        width: 125px; }
nav ul li a:hover { background-color: rgba(127,164,188,1.0);}
 
nav ul ul {
       display: none;
       position: absolute; top: 100%;
       background-color: rgba(69,95,112,.8); }
nav ul ul li { position: relative; }
nav ul ul ul { left: 100%; top: 0px; }       
       
/* top level */
nav > ul { padding-left: 35px; }
nav > ul > li { float: left;}
nav > ul > li > a { padding: 10px 20px 15px 20px; width: auto; }


@media screen and (max-width: 750px) {
    header a.logo { width: 120px; height: 44px; top: 20px; left: 15px; }
    
    nav { padding: 70px 0px 0px 10px; }
    nav > ul  { padding-left: 0px; padding-right: 20px; }
    nav > ul > li > a { padding: 8px 12px 10px 12px;}
}